section.section__awards {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  img.bkg {
    position: absolute;
    bottom:0;
    left: 0;
    display: block;
    height: 130vh;
    width: auto;
  }

  div.content {
    position: relative;
    z-index: 1;
    padding-bottom: 10vh;
    padding-left: 35vw;
    width: 80%;
    text-align: left;
  }

  div.bar-loader {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 7px;
    margin-top: 60px;
    background: #fff;
    overflow: hidden;

    .bar-progress {
      display: block;
      background: $orange;
      width: 100%;
      height: 100%;
      transform: translate3d(-100%,0,0);
    }
  }

  ul.reviews { 
    display: block;
    li {
      display: none;
      font: italic 2.6rem/40px $fontRegular;
      font-weight: $weightMedium;
      color: #fff;

      &.show {
        display: block;
      }

      a {
        color: #fff;
        text-decoration: none;

        &.smaller {
          font-size: 2.3rem;
          line-height: 30px;
        }
      }

      span {
        display: block;
        margin-bottom : 30px;
        img {
          display: block;
        }
      }
    }
  }

  ul.awards {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    li {
      position: relative;
      height: 260px;
      min-width: 120px;
      margin: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        display: block;

      }

      span {
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        font: normal 1.1rem/1.8 $fontRegular2;
        letter-spacing: 0.01em;
        font-weight: $weightMedium;
        color: #fff;
        text-transform: uppercase;
      }

    }
  }
}



/* ---------------------------------------------- */
/* ------------------ mediasqueries ------------- */
/* ---------------------------------------------- */

@media screen and (max-width:$screen-l) {
  section.section__awards {
    div.content {
      width: 90%;
    }
  }
}

@media screen and (min-width:$screen-m) and (max-height:700px)  {
  section.section__awards {

    div.bar-loader {
      margin-top: 45px;
    }

    ul.reviews {
      li {
        a {
          &.smaller {
            font-size: 2rem;
            line-height: 20px;
          }
        }
      }
    }
  }
} 

@media screen and (orientation:portrait), screen and (max-width:$screen-m)  {
  section.section__awards {

    div.content {
      padding: 10vh 0;
      margin: 0 auto;
      width: 86vw;
      max-width: 500px;
    }

    div.bar-loader {
      margin: 50px 0;
    }

    ul.awards {
      flex-wrap: wrap;
      justify-content: center;
    }
    

    img.bkg {
      display: none;
    } 
  }
}

@media screen and (max-width:$screen-m)  {
  section.section__awards {

    div.content {
      max-width: 650px;
    }

    div.bar-loader {
      margin: 40px 0 30px;
    }
  }
} 

@media screen and (max-width:$screen-xs) {
  section.section__awards {

    div.content {
      padding: 0 0 4vh;
    } 

    div.bar-loader {
      margin: 20px 0 30px;
    }

    ul.reviews {
      li {
        font-size: 1.6rem;
        line-height: 24px;

        a {
          &.smaller {
            font-size: 1.5rem;
            line-height: 23px;
          }
        }

        span {
          margin-bottom : 20px;

          img {
            max-width: 150px;
            height: auto;

            &.portrait {
              width: auto;
              max-height: 50px;
            }
          }
        }
      }
    }

    ul.awards {
      li {
        height: 130px;
        min-width: 100px;
        margin: 0 0 20px;
        padding-bottom: 50px;

        span {
          font-size: 0.95rem;
          line-height: 1.6em;
        }

        &.ces {
          img {
            width: 40px;
            height: auto;
          }
        }

        &.indigogo {
          img {
            width: 70px;
            height: auto;
          }
        }

        &.mh2019 {
          img {
            width: 40px;
            height: auto;
          }
        }

        &.askmen {
          img {
            width: 50px;
            height: auto;
          }
        }

        &.time {
          img {
            width: 35px;
            height: auto;
          }
        }

        &.if {
          img {
            width: 30px;
            height: auto;
          }
        }
      }
    } 
  }
}     