section.section__intro {
  overflow: hidden;

  div.sequence {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    &.loader {
      &:after {
        content: '';
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        margin: -20px 0 0 -20px;
        display: block;
        background: url(#{$img}loader.svg) 0 0 no-repeat;
        background-size: 100% 100%;
      }
    }
  }

  div.sequence-caption {
    position: absolute;
    top:0;
    left:0;
    font: normal 1.2rem $fontRegular2;
    letter-spacing: 0.01em;
    font-weight: $weightMedium;
    color: #fff;
    text-transform: uppercase;
    min-width: 55px;
    padding-top: 64px;
    opacity: 0;
    transform: translate3d(0,0,0);
    transition: all 250ms ease-out;
    pointer-events: none;
    user-select: none;

    &.active {
      opacity: 1;
    }

    &.wireless {
      top: 65%;
      left: 70%;
      background: url(#{$img}icons/wireless.svg) center top no-repeat;
      background-size: 55px auto;
    }

    &.waterproof {
      top: 50%;
      left: 60%;
      background: url(#{$img}icons/waterproof.svg) center top no-repeat;
      background-size: 55px auto;
    }

    &.warmingbar {
      top: 60%;
      left: 10%;
      background: url(#{$img}icons/warmingbar.svg) center top no-repeat;
      background-size: 55px auto;
    }

    &.temp {
      top: 45%;
      left: 30%;
      background: url(#{$img}icons/temp.svg) center top no-repeat;
      background-size: 55px auto;
    }

    &.magnetic {
      top: 75%;
      left: 20%;
      background: url(#{$img}icons/magnetic.svg) center top no-repeat;
      background-size: 55px auto;
    }

    &.flexdisc {
      top: 45%;
      left: 20%;
      background: url(#{$img}icons/flexdisc.svg) center top no-repeat;
      background-size: 55px auto;
    }

    &.fiveblades {
      top: 20%;
      left: 75%;
      background: url(#{$img}icons/5blades.svg) center top no-repeat;
      background-size: 55px auto;
    }
  }

  ul.captions {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(45px,-45%);
    display: block;
    opacity: 0;
    transition: opacity 200ms ease-out;

    &.show {
      opacity: 1;
    }

    &.disabled {
      pointer-events: none;
    }

    li {
      display: flex;
      margin: 45px 0;

      button {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        span {
          display: none;
          margin-right: 5px;
          font: normal 0.85rem $fontRegular2;
          letter-spacing: 0.01em;
          font-weight: $weightMedium;
          color: #fff;
          text-transform: uppercase;
        }

        &:before {
          content:"";
          position: relative;
          display: block;
          width:25px;
          height:25px;
        }
  
        &.waterproof {
          &:before {
            background: url(#{$img}icons/waterproof.svg) 0 0 no-repeat;
            background-size: 100% auto;
          }
        }
  
        &.magnetic {
          &:before {
            background: url(#{$img}icons/magnetic.svg) 0 0 no-repeat;
            background-size: 100% auto;
          }
        }
  
        &.flexdisc {
          &:before {
            background: url(#{$img}icons/flexdisc.svg) 0 0 no-repeat;
            background-size: 100% auto;
          }
        }
  
        &.warmingbar {
          &:before {
            background: url(#{$img}icons/warmingbar.svg) 0 0 no-repeat;
            background-size: 100% auto;
          }
        }
  
        &.wireless {
          &:before {
            background: url(#{$img}icons/wireless.svg) 0 0 no-repeat;
            background-size: 100% auto;
          }
        }
  
        &.temp {
          &:before {
            background: url(#{$img}icons/temp.svg) 0 0 no-repeat;
            background-size: 100% auto;
          }
        }
  
        &.fiveblades {
          &:before {
            background: url(#{$img}icons/5blades.svg) 0 0 no-repeat;
            background-size: 100% auto;
          }
        }
      }

      &.active {
        button {
          cursor: default;
          &.waterproof {
            &:before {
              background-image: url(#{$img}icons/waterproof-orange.svg);
            }
          }
    
          &.magnetic {
            &:before {
              background-image: url(#{$img}icons/magnetic-orange.svg);
            }
          }
    
          &.flexdisc {
            &:before {
              background-image: url(#{$img}icons/flexdisc-orange.svg);
            }
          }
    
          &.warmingbar {
            &:before {
              background-image: url(#{$img}icons/warmingbar-orange.svg);
            }
          }
    
          &.wireless {
            &:before {
              background-image: url(#{$img}icons/wireless-orange.svg);
            }
          }
    
          &.temp {
            &:before {
              background-image: url(#{$img}icons/temp-orange.svg);
            }
          }
    
          &.fiveblades {
            &:before {
              background-image: url(#{$img}icons/5blades-orange.svg);
            }
          }
        }
      }
    }
  }

  div.scroll-down {
    position: absolute;
    bottom: 10%;
    left:0;
    z-index: 1;
    width: 100%;
    font: normal 1.2rem $fontRegular;
    letter-spacing: 0.05em;
    font-weight: $weightMedium;
    text-transform: uppercase;
    color: $orange;
    text-align: center;
    opacity: 0;
    transition: opacity 150ms ease-out;
    cursor:pointer;
    
    &:after {
      content: "";
      position: absolute;
      left:50%;
      top: 24px;
      margin-left: -7px;
      width: 14px;
      height: 14px;
      display: block;
      background: url(#{$img}dropdown.svg) 0 0 no-repeat;
      background-size: 100% auto;
    }

    &.show {
      opacity: 1;
    }
  }
}

/* ---------------------------------------------- */
/* ------------------ mediasqueries ------------- */
/* ---------------------------------------------- */

@media screen and (orientation:portrait) {
  section.section__intro {
    div.scroll-down {
      bottom: 20vh;
    }
  }
}

@media screen and (max-width:$screen-xl) {
  section.section__intro {
    ul.captions {
      right: 8%;
    }
  }
}

@media screen and (max-width:$screen-s) {
  section.section__intro {  
    ul.captions {
      top: 70px;
      right: 3%;
      transform: translate(0,0);
      li {
        margin: 35px 0;
      }
    }
  }
}

@media screen and (max-width:$screen-xs) {
  section.section__intro {

    div.sequence-caption {
      display: none;
    }

    ul.captions {  
      top: 30px;

      li {  
        justify-content: flex-end;

        button {
          justify-content: flex-end;
          align-items: center;

          &:before {
            display: none;
          }
        }

        &.show {
          button {
            &:before {
              display: block;
            }

            &.waterproof {
              &:before {
                background-image: url(#{$img}icons/waterproof-orange.svg);
              }
            }
      
            &.magnetic {
              &:before {
                background-image: url(#{$img}icons/magnetic-orange.svg);
              }
            }
      
            &.flexdisc {
              &:before {
                background-image: url(#{$img}icons/flexdisc-orange.svg);
              }
            }
      
            &.warmingbar {
              &:before {
                background-image: url(#{$img}icons/warmingbar-orange.svg);
              }
            }
      
            &.wireless {
              &:before {
                background-image: url(#{$img}icons/wireless-orange.svg);
              }
            }
      
            &.temp {
              &:before {
                background-image: url(#{$img}icons/temp-orange.svg);
              }
            }
      
            &.fiveblades {
              &:before {
                background-image: url(#{$img}icons/5blades-orange.svg);
              }
            }
          }
        }

        &.active {
          button {
            span {
              display: block;
            }

            &:before {
              display: block;
            }

            &.waterproof {
              &:before {
                background-image: url(#{$img}icons/waterproof.svg);
              }
            }
      
            &.magnetic {
              &:before {
                background-image: url(#{$img}icons/magnetic.svg);
              }
            }
      
            &.flexdisc {
              &:before {
                background-image: url(#{$img}icons/flexdisc.svg);
              }
            }
      
            &.warmingbar {
              &:before {
                background-image: url(#{$img}icons/warmingbar.svg);
              }
            }
      
            &.wireless {
              &:before {
                background-image: url(#{$img}icons/wireless.svg);
              }
            }
      
            &.temp {
              &:before {
                background-image: url(#{$img}icons/temp.svg);
              }
            }
      
            &.fiveblades {
              &:before {
                background-image: url(#{$img}icons/5blades.svg);
              }
            }
          }
        }
      }
    }
  }
}