section.section__product-video {
  cursor: pointer;
  overflow: hidden;

  &.demo {
    background: url(#{$img}product-video/demo/bkg.jpg) center center no-repeat;
    background-size: cover;
  }

  &.pub {
    background: url(#{$img}product-video/pub/bkg.jpg) center center no-repeat;
    background-size: cover;
  }

  video {
    position: absolute;
    visibility: hidden;

    &.front {
      visibility: visible;
      z-index: 4;
    }
  }
}



/* ---------------------------------------------- */
/* ------------------ mediasqueries ------------- */
/* ---------------------------------------------- */
@media screen and (orientation:portrait) {
  section.section__product-video {
    &.pub {
      background: url(#{$img}product-video/pub/bkg-mobile.jpg) center center no-repeat;
      background-size: cover;
    }

    &.demo {
      background: url(#{$img}product-video/demo/bkg-mobile.jpg) center center no-repeat;
      background-size: cover;
    }

    &.black {
      background: #000;
    }
  }
}