section.section__product-explosion {
  overflow: hidden;

  &.fixed {
    div.wrap {
      position: fixed;
      top:0 ;
      z-index: 15;
    } 
  }

  div.wrap {
    position: relative;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  div.sequence {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    &.loader {
      &:after {
        content: '';
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        margin: -20px 0 0 -20px;
        display: block;
        background: url(#{$img}loader.svg) 0 0 no-repeat;
        background-size: 100% 100%;
      }
    }
  }

  h2 {
    position: relative;
    z-index:2;
    font: normal 4.2rem $fontRegular;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fff;
    width: 100%;
    padding: 0 10vw;
    transition: all 400ms ease-out;

    &.active {
      letter-spacing: 1em;
    }
  }
}

/* ---------------------------------------------- */
/* ------------------ mediasqueries ------------- */
/* ---------------------------------------------- */
@media screen and (max-width:$screen-l) {
  section.section__product-explosion {
    h2 {
      font-size:3.8rem;
    }
  }
}

@media screen and (max-width:$screen-m) {
  section.section__product-explosion {
    h2 {
      font-size:3.2rem;
    }
  }
}

@media screen and (max-width:$screen-s) {
  section.section__product-explosion {
    &.fixed {
      div.wrap {
        top: $header-height-mobile;
      } 
    }

    div.wrap {
      height: calc(100vh - #{$header-height-mobile});
    }
  }
}

@media screen and (max-width:$screen-xs) {
  section.section__product-explosion {
    h2 {
      font-size: 2.4rem;
      padding: 0 1vw;

      &.active {
        letter-spacing: 0.5em;
      }
    }
  }
}