section.section__product-warmth {
  overflow: hidden;

  &.scroll {
    height: 160vh;
  }

  &.fixed {
    div.wrap {
      position: fixed;
      top:0 !important;
      bottom:auto !important;
      z-index: 15;
    } 
  }

  &.bottom {
    div.wrap {
      top: auto;
      bottom:0;
    }
  }

  div.wrap {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  }  

  div.bkg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transform: translate3d(0,0,0);
    transition-delay: 100ms;

    &.active {
      opacity: 1;
    }

    img {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
    }
  }

  h2 {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    padding: 0 5vw;
    font: normal 4.2rem $fontRegular;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $light;
    text-align: center;
    text-shadow: #462a01 0 0 10px;

    span {
      display: block;

      &.second {
        opacity: 0;
        transition: opacity 350ms ease-out;
        transition-delay: 100ms;

  
        &.active {
          opacity: 1;
        }
      }
    }
  }
}



/* ---------------------------------------------- */
/* ------------------ mediasqueries ------------- */
/* ---------------------------------------------- */
@media screen and (max-width:$screen-l) {
  section.section__product-warmth {
    h2 {
      font-size:3.8rem;
    }
  }
}

@media screen and (max-width:$screen-m) {
  section.section__product-warmth {
    h2 {
      font-size:3.2rem;
    }
  }
}

@media screen and (max-width:$screen-s) {
  section.section__product-warmth {
    &.fixed {
      div.wrap {
        top: $header-height-mobile !important;
      } 
    }
  
    div.wrap {
      height: calc(100vh - #{$header-height-mobile});
    } 

    div.bkg {
      height: calc(100vh - #{$header-height-mobile});
    }
  }
}

@media screen and (max-width:$screen-xs) {
  section.section__product-warmth {
    h2 {
      font-size: 2.4rem;
    }
  }
}


