section.section__product-shaving {
  overflow: hidden;

  &.scroll {
    height: 160vh;
  }

  &.fixed {
    div.wrap {
      position: fixed;
      top:0 !important;
      bottom:auto !important;
      z-index: 15;
      min-height: $min-height;
    } 
  }

  &.bottom {
    div.wrap {
      top: auto;
      bottom:0;
    }
  }

  div.wrap {
    position: absolute;
    top: 0;
    left:0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }  

  div.bkg-1 {
    position: absolute;
    z-index:0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    
    div.img {
      width: 520px;
      height: 260px;
      background: url(#{$img}product-shaving/heat.jpg) center center no-repeat;
      background-size: cover;
      transform-origin: 50% 50%;
    }
  }

  div.bkg-2 {
    position: absolute;
    z-index:1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    div.mask {
      position: relative;
      z-index:1;
      width: 100%;
      height: 100vh;
      min-height: 560px;
      background: url(#{$img}product-shaving/product_hero.jpg) center center no-repeat;
      background-size: cover;
    }
  }

  h2 {
    position: relative;
    z-index:2;
    font: normal 4.2rem $fontRegular;
    max-width: 600px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fff;
    width: 100%;
    margin: 15vh auto 0;
  }

  div.chart {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -256px;
    width: 512px;
    height: 250px;
    overflow: hidden;

    div.chart-line {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    div.chart-line-h {
      background: url(#{$img}product-shaving/chart-line-h.svg) center bottom no-repeat;
      background-size: 100% auto;
    }

    div.chart-line-v {
      background: url(#{$img}product-shaving/chart-line-v.svg) center bottom no-repeat;
      background-size: 100% auto;
    }

    div.chart-line-blue {
      width: 0;
      background: url(#{$img}product-shaving/chart-blue.svg) 0 bottom no-repeat;
      background-size: 512px auto;
    }

    div.chart-line-red {
      width: 0;
      background: url(#{$img}product-shaving/chart-red.svg) 0 bottom no-repeat;
      background-size: 512px auto;
    }
  }
}



/* ---------------------------------------------- */
/* ------------------ mediasqueries ------------- */
/* ---------------------------------------------- */
@media screen and (orientation:portrait) {
  section.section__product-shaving {

    div.bkg-1 {
      div.img {
        margin-top: -100px;
        max-width: 470px;
        width: 50vh;
        height: 100px;
      }
    }
    
    div.bkg-2 {
      div.mask {
        background: url(#{$img}product-shaving/product_hero-portrait.jpg) center center no-repeat;
        background-size: cover;
      }
    }

    h2 {
      margin-top: 10vh;
    }

    div.chart {
      position: absolute;
      top: auto;
      bottom: 20%;
      left: 12vw;
      width: 76vw;
      height: 280px;
      margin-left: 0;
      overflow: hidden;

      div.chart-line-blue {
        background-size: 76vw auto;
      }
  
      div.chart-line-red {
        background-size: 76vw auto;
      }
    }
  }
}

@media screen and (max-width:$screen-l) {
  section.section__product-shaving {
    h2 {
      font-size:3.8rem;
    }
  }
}

@media screen and (max-width:$screen-m) and (orientation:landscape) {
  section.section__product-shaving {
    h2 {
      margin-top:20vh;
      font-size:3.2rem;
      max-width: 500px;
    }
  }
}

@media screen and (max-width:$screen-s) {
  section.section__product-shaving {
    &.fixed {
      div.wrap {
        top:$header-height-mobile !important;
      } 
    }
  
    div.wrap {
      height: calc(100vh - #{$header-height-mobile});
    } 
  }
}

@media screen and (max-width:$screen-xs) {
  section.section__product-shaving {

    &.fixed {
      div.wrap {
        min-height: auto;
      } 
    }

    h2 {
      font-size: 2.4rem;
      max-width: 80vw;
    }
  }
}