section.section__product {
  overflow: hidden;
  padding-bottom: 50px;
  div.product {
    width: 100%;
    max-width: $max-width;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.active {
      div.text {
        opacity: 1;
      }
    }

    &.left {
      div.text {
        padding-right: 40px;
      }
    }

    &.right {
      div.text { 
        padding-left: 40px;
      }
    }

    div.text {
      width: 50%;
      font: normal 3rem $fontRegular;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      opacity: 0;
      transform: translate3d(0,0,0);
      transition: all 500ms ease-out;

      h2 {
        color: $light;
      }

      p {
        margin-top: 20px;
        color: $orange;
        background: linear-gradient(to left, $orangeDark 10%, $orange 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    div.photo {
      position: relative;
      width: 50%;
      height: 90%;
      opacity: 0.5;
      max-height: 650px;

      img {
        position: absolute;
      }

      video {
        position: absolute;
      }
    }

    &.warmth {
      div.photo {
        video {
          z-index: 1;
          top: 0;
          left: 0;
          width: 45%;
          height: auto;
        }

        img {
          z-index: 0;
          bottom: 0;
          right: 0;
          width: 75%;
          height: auto;
        }
      }  
    }

    &.design {
      div.photo {
        img {
          &:nth-child(1) {
            z-index: 0;
            top: 0;
            right: 0;
            width: 60%;
            height: auto;
          }

          &:nth-child(2) {
            z-index: 1;
            bottom: 0;
            left: 0;
            width: 50%;
            height: auto;
          }
        } 
      } 
    }

    &.waterproof {
      div.photo {
        video {
          z-index: 0;
          top: 0;
          left: 0;
          width: 85%;
          height: auto;
        }

        img {
          z-index: 1;
          bottom: 0;
          right: 0;
          width: 60%;
          height: auto;
        }
      } 
    }

    &.comfort {
      div.photo {
        img {
          &:nth-child(1) {
            z-index: 1;
            top: 0;
            right: 0;
            width: 60%;
            height: auto;
          }

          &:nth-child(2) {
            z-index: 0;
            bottom: 0;
            left: 0;
            width: 50%;
            height: auto;
          }
        } 
      }
    }
  }
}



/* ---------------------------------------------- */
/* ------------------ mediasqueries ------------- */
/* ---------------------------------------------- */

@media screen and (max-width:$screen-xl) {
  section.section__product {
    div.product {
      width: 86%;
    }
  }
}

@media screen and (max-width:$screen-l) {
  section.section__product {
    div.product {
      height: 70vh;

      div.text {
        font-size: 2.6rem;
      }
    }
  }
}

@media screen and (max-width:$screen-m) {
  section.section__product {
    div.product {
      height: 60vh;

      div.text {
        font-size: 2.4rem;
      }
    }
  }
}

@media screen and (max-width:$screen-s) {
  section.section__product {
    padding: 25px 0 50px;

    div.product {
      max-width: 500px;
      height: calc(90vh - 70px);
      align-items: center;
      justify-content: center;

      &.left {
        flex-direction: column;
        div.text {
          padding-right: 0;
        }
      }
  
      &.right {
        flex-direction: column-reverse;

        div.text { 
          padding-left: 0;
        }
      }

      div.text {
        width: 100%;
        opacity: 0.5;
      }

      div.photo {
        margin-top: 40px;
        width: 100%;
        max-height: 40vh;
      }
      
    }
  }
}

@media screen and (max-width:$screen-xs) {
  section.section__product {
    div.product {
      max-width: auto;
      height: calc(100vh - 70px);

      div.text {
        font-size: 2.4rem;
      }
    }
  }
}   

@media screen and (max-width:$screen-xxs) {
  section.section__product {
    div.product {
      div.text {
        font-size: 2rem;
      }
    }
  }
}  

@media screen and (max-width:$screen-xs) and (max-height:740px) {
  section.section__product {
    div.product {
      div.photo {
        max-height: 42vh;
      }
    }
  }
}  