section.section__senses {
  
  overflow: hidden;

  video {
    position: relative; 
    z-index: 0; 
  }

  h2, div.shadow {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 0 5%;
    transform: translate(0, -50%);
    text-align: center;
    font:  normal 1.8vw/1.6 $fontRegular;
    letter-spacing: 0.4em;
    color: $light;
    opacity: 0.8;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: $weightMedium;

    span {
      display: block;
      margin: 35px 0;
      filter: blur(4px);
      text-shadow: 2px 2px 10px #fd7b01;
      opacity: 0;
      color: $orange;
      transition: opacity 200ms ease-out,color 300ms ease-out,filter 1000ms ease-out;
      &.line-2 {
        transition-delay: none; 
      }
    }
  }

  h2 {
    &.show {
      span {
        opacity: 1;
        color: #fff;
        filter: blur(0px);
 
        &.line-2 {
          transition-delay: 900ms; 
        }
      }
    }
  }

  div.shadow {
    z-index: 0;
    font-family: $fontBold;
    letter-spacing: 0.35em;
    opacity: 1;

    span {
      opacity: 0;
      filter: blur(4px);
      text-shadow: 0px 0px 2px #FFD99E;
      color: $orange;
    }
  }
}



/* ---------------------------------------------- */
/* ------------------ mediasqueries ------------- */
/* ---------------------------------------------- */
@media screen and (max-width:$screen-l) {
  section.section__senses {
    h2, div.shadow {
      font-size: 2.3rem;
      letter-spacing: 0.35em;
    }
    div.shadow {
      letter-spacing: 0.3em;
    }
  }
}

@media screen and (max-width:$screen-xs) {
  section.section__senses {
    h2, div.shadow {
      font-size: 2rem;
      letter-spacing: 0.3em;
    }
    div.shadow {
      letter-spacing: 0.25em;
    }
  }
}