section.section__shop {
  background: #000;
  overflow: hidden;

  &.fixed {
    div.wrap {
      position: fixed;
      top:0 ;
      z-index: 15;
      min-height: $min-height;
    } 
  }

  div.wrap {
    position: relative;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: #000;
  }  

  div.title {
    position: absolute;
    top: 35vh;
    left: 50%;
    width: 86vw;
    max-width: 980px;
    transform: translate(-50%,0);
    display: flex;
    justify-content: space-between;

    &.show {
      .promo {
        opacity: 1;
        transform: translate3d(-50%,0,0);
      }

      .btns-wrap {
        button, a {
          opacity: 1;
          transform: translate3d(0,0,0);
        }
      }

      div.block {  
        &:nth-of-type(2) {
          h2, p {
            opacity: 1;
          }
        }
      }

      .satisfait, & + .satisfait {
        opacity: 1;
      }
    }

    div.block {
      position: relative;
      width: 40%;

      &:nth-of-type(2) {
        h2, p {
          opacity: 0;
        }
      }
    }

    .promo {
      background: $orange;
      color: #fff;
      font: normal 1.4rem/3.1rem $fontBold;
      left: 50%;
      opacity: 0;
      padding: 0 15px;
      position: absolute;
      text-transform: uppercase;
      transform: translate3d(-50%, 50px, 0);
      transition: all 300ms ease-out;
      top: -60px;
      width: auto;
      
      &.special {
        background: $special;

        @media screen and (max-width:$screen-s) {
          padding: 0 5px;
        }
      }

      &.blackfriday {
        border: 2px solid #000;
      }
    }

    .btns-wrap {
      margin: auto;
      width: 190px;

      &.subscription {
        width: 230px;

        .price strong {
          &.old {
            font-size: 1.2rem;
            line-height: 1.4rem;
            margin-left: 0;
          }

          &.new {
            background: #fff;
            color: #000;

            &.special {
              background: $special;
            }
          } 
        }
      }

      button, a {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        display: block;
        margin-bottom: 20px;
        opacity: 0;
        padding: 15px;
        text-align: left;
        text-decoration: none;
        transform: translate3d(0, 50px, 0);
        transition: all 300ms ease-out;
        width: 100%;

        &:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          transform: scale(1.05);
        }
      }

      h2 {
        font: normal 1.6rem $fontBold;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #fff;
      }

      p {
        font: normal 1.4rem $fontRegular;
        letter-spacing: 0.05em;
        color: #fff;
        margin: 5px 0 15px;
      }

      .price {
        display: block;
        letter-spacing: 0.05em;
        color: #000;

        .from {
          font: normal 1.4rem $fontRegular;

          & + strong.new {
            margin: 0 0 0 5px;
          }
        }

        strong {
          font: normal 1.8rem/3rem $fontBold;
          letter-spacing: 0.05em;

          &.old {
            display: inline-block;
            margin: 0 5px;
            position: relative;
            width: auto;

            &::after {
              background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="none" viewBox="0 0 100 100"><path d="M1 0 L0 3 L99 100 L100 99" stroke="black" stroke-width="5" /></svg>');
              content: '';
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
            }
          }

          &.new {
            background: $orange;
            color: #fff;
            display: inline-block;
            padding: 0 10px;
            width: auto;

            &.special {
              background: $special;
            }

            small {
              font-size: 1.2rem;
            }
          }
        }

        &.big {
          color: #fff;

          strong {
            font-size: 2.9rem;
          }
        }
      }
    }
  }

  .satisfait {
    margin: 30px;
    opacity: 0;
    transition: opacity 300ms ease-out 150ms;
    width: 200px;


    &.mobile {
      bottom: 0;
      display: none;
      left: 50%;
      margin: 10px;
      position: absolute;
      transform: translateX(-50%);
      width: 150px;
    }
  }

  .disclaimer {
    display: block;
    width: 100%;
    letter-spacing: 0.05em;
    margin-top: 5px;
    font: normal 1rem $fontRegular;
    position: absolute;
    bottom: 20px;
  }

  div.sequence {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0;
    transition: opacity 300ms ease-out;

    &.show {
      opacity: 1;
    }
  } 
  
  div.drawing {
    position: absolute;
    top: 13%;
    left: 50%;
    height: 78%;
    width: 71vw;
    max-width: 880px;
    transform: translate(-50%,0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;

    figure {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      transition: opacity 300ms ease-out;
      img {
        display: block;
      }

      figcaption {
        display: block;
        width: 100%;
        margin-top: 30px;
        font: normal 1.1rem $fontRegular2;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        font-weight: $weightMedium;
      }

      &.hide {
        opacity: 0;
      }
    }

    figure.dock {
      width:33.3%;
      height:50%;
      img {
        height: calc(100% - 55px);
        width: auto;
      }
    }

    figure.razor {
      width:33.3%;
      height: 100%;
      img {
        height: calc(100% - 55px);

        width: auto;
      }
    }

    div.plug {
      width:33.3%;

      height: 100%;
      figure.plug-1 {
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-end;
        img {
          height: auto;
          width: 60%;
        }
        figcaption {
          margin-bottom: 20px;
        }
      }

      figure.plug-2 {
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-end;
        img {
          height: auto;
          width: 45%;
        }
      }
    }
  }
}



/* ---------------------------------------------- */
/* ------------------ mediasqueries ------------- */
/* ---------------------------------------------- */

@media screen and (max-width:$screen-s) {
  section.section__shop {
    &.fixed {
      div.wrap {
        top: $header-height-mobile;
        height: 100vh;
      } 
    }

    div.wrap {
      height: calc(100vh - #{$header-height-mobile});
    }

    div.title {
      top: 25vh;

      .promo {
        font-size: 0.9rem;
        top: -40px;
        min-width: 120px;
      }
    }

    div.drawing {
      top: 5vh;
    }

    .satisfait {
      &.desktop {
        display: none;
      }

      &.mobile {
        display: block;
      }
    }
  }
}

@media screen and (max-width:$screen-xs) {
  section.section__shop {

    &.fixed {
      div.wrap {
        min-height: auto;
      }
    }

    div.title {
      top: 28vh;
      left:3%;
      width: 94%;
      transform: none;

      div.block {
        width: 42%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      .btns-wrap {
        width: 140px !important;

        button, a {
          padding: 10px;
        }

        h2 {
          font-size: 1.4rem;
        }

        p {
          font-size: 1.1rem;
          letter-spacing: 0;
        }

        .price {
          .from {
            font-size: 1.1rem;  
            letter-spacing: 0; 
          }

          strong.new {
            font-size: 1.4rem;
            line-height: 2.8rem;
            padding: 0 5px;

            small {
              font-size: 1rem;
            }
          }
        }
      }
    }

    div.drawing {
      top: 10vh;
      left: 5%;
      width: 90%;
      height: 70vh;
      transform: none;
      align-items: flex-end;

      figure {
        align-items: flex-end;

        figcaption {
          margin-top: 15px;
          font-size: 1rem;
          line-height: 1.4;
        }
      }

      figure.dock {
        width:27%;
        align-items: flex-end;
        height: auto;

        img {
          height: auto;
          width: 100%;
        }
      }

      figure.razor {
        height: 100%;
        width:36%;
        margin: 0;
        align-items: flex-end;
      }

      div.plug {
        width:27%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        flex-direction: row;

        figure.plug-1 {
          height: auto;
          img {
            height: auto;
            width: 100%;
          }

          figcaption {
            margin-bottom: 50px;
          }
        }
  
        figure.plug-2 {
          height: auto;

          img {
            height: auto;
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width:$screen-xxs) {
  section.section__shop {
    div.title {

      div.block {
        width: 40%;
      }
    }
  }
} 