html {
  font-size: 62.5%; // 10px
}


body {
  font-size: 1.6rem;
  line-height: 1.7;
  overflow-x: hidden;
  background: #000;
  color:#fff;
  width: 100%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
  
  &.fixed {
    position: fixed;
    top:0 ;
    left:0;
    z-index: 15;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
}

div.wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  min-width: $min-width;
  overflow: hidden;

  main {
    position: relative;
    z-index: 2;

    section {
      position: relative;
      height: 100vh;
      min-height: $min-height;

      &.height-auto {
        height: auto;
      }
    }
  }
}


/* -------------------------------------------
    MEDIASQUERIES
---------------------------------------------- */
@media screen and (max-width:$screen-s) {
  div.wrapper {
    main {
      margin-top: $header-height-mobile;

      section {
        min-height: auto;
        height: calc(100vh - #{$header-height-mobile});
      }
    }
  }
}