/* --------------------
    BUTTON 
----------------------- */
.btn {
  position: relative;
  background: $orange;
  padding: 0 20px;
  display: block;
  height: 45px;
  font:  normal 1.1rem/45px $fontBold;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  transition: background 150ms ease-out,color 150ms ease-out;

  @include no_touch {
    &:hover {
      background: $orangeDark;
    }
  }

  &--small-font {
    font-size: 0.9rem;
    padding: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }

  &--black {
    background: #000;
    //border: 2px solid transparent;
    //line-height: 43px;

    @include no_touch {
      &:hover {
        background: $orange;
        //border: 2px solid $orange;
      }
    }
  }

  &--transparent {
    background: none;
    color: #000;
    border: 2px solid #000;
    line-height: 43px;

    @include no_touch {
      &:hover {
        background: $orange;
        border: 2px solid $orange;

        color:#fff;
      }
    }
  }

  &--white {
    background: none;
    color: #fff;
    //border: 2px solid #fff;
    //line-height: 43px;


    @include no_touch {
      &:hover {
        background: $orange;
        //border: 2px solid $orange;
      }
    }
  }

  &--special {
    background: $special;
    //border: 2px solid transparent;
    //line-height: 43px;

    @include no_touch {
      &:hover {
        background: $specialDark;
        //color: #fff;
      }
    }
  }
}

/* --------------------
    BUTTON PLAY
----------------------- */
.btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index:12;
  margin: -30px 0 0 -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;

  &:after {
    content: "";
    position: absolute;
    display: block;
    top:20px;
    left:25px;
    width: 10px;
    height: 14px;
    background: url(#{$img}play.svg) 0 0 no-repeat;
    background-size:100% auto;
  }
}

/* --------------------
    BUTTON CLOSE
----------------------- */
.btn-close {
  position: absolute;
  display: block;
  width:30px;
  height: 30px;

  &:before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 30px;
    height: 2px;
    display: block;
    background: #fff;
    transform: translate3d(0, 0, 0) rotate(45deg);
    transition: background 150ms ease-in-out;
  }

  &:after {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 30px;
    height: 2px;
    display: block;
    background: #fff;
    transform: translate3d(0, 0, 0) rotate(-45deg);
    transition: background 150ms ease-in-out;
  }

  @include no_touch {
    &:hover {
      &:before,&:after {
        background: #000;
      }
    }
  }
}

/* --------------------
    BUTTON BACK
----------------------- */
.btn-arrow {
  position: relative;
  font: normal 1.3rem/20px $fontRegular;
  color:#fff;
  padding-right: 15px;

  &:after {
    content: "";
    position: absolute;
    right:0%;
    top: 3px;
    width: 10px;
    height: 10px;
    display: block;
    background: url(#{$img}arrow-white.svg) 0 0 no-repeat;
    background-size: 100% auto;
    transform: rotate(-90deg);
    transition: transform 150ms ease-in-out;
  }

  @include no_touch {
    &:hover {
      &:after {
        transform: translate3d(3px,0,0) rotate(-90deg);
      }
    }
  }
}

/* --------------------
    LOADER
----------------------- */
.icon-loader {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  display: block;
  background: url(#{$img}loader.svg) 0 0 no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
}


