.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    direction: ltr;
    *line-height: 0;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}