$min-width: 320px;
$max-width: 1200px;
$header-height-mobile: 70px;
$min-height: 580px;

//breakpoints screen
$screen-xl: 1350px;
$screen-l: 1200px;
$screen-m: 1024px;
$screen-s: 900px;
$screen-xs: 640px;
$screen-xxs: 375px;






