@font-face {
  font-family: 'apercu-mono';
  font-style: normal;
  font-weight: normal;
  src: url('#{$fonts}apercu-mono.woff') format('woff');
}

@font-face {
  font-family: 'futura';
  font-style: normal;
  font-weight: normal;
  src: url('#{$fonts}futura-book.woff') format('woff');
}

@font-face {
  font-family: 'futura-bold';
  font-style: normal;
  font-weight: normal;
  src: url('#{$fonts}FuturaStd-Bold.woff') format('woff');
}



$fontRegular : 'futura', sans-serif;
$fontBold : 'futura-bold', sans-serif;
$fontRegular2 : 'apercu-mono', sans-serif;

$weightLight: 300;
$weightRegular: 400;
$weightMedium: 500;
$weightBold: 700;
