//$root: '/gillette/heated-razor/'; // préprod fcinq
//$root: '/rasoir-chauffant/';    // fr-fr
//$root: '/fr/rasoir-chauffant/'; // fr-ch
//$root: '/de/heated-razor/';     // de-ch
$img: $root + 'dist/img/';
$fonts: $root + 'dist/fonts/';