
<!doctype html>
<html class="no-js" lang="<%= __('lng') %>">
  <head>
    <title><%= __('meta_title') %></title>
    <meta name="description" content="<%= __('meta_description') %>" >
    <meta charset="utf-8">
    <meta name="author" content="Gillette" >
    <meta name="HandheldFriendly" content="true" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="icon" href="dist/img/favicon16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="dist/img/favicon32.png" type="image/png">
    <link rel="icon" sizes="64x64" href="dist/img/favicon64.png" type="image/png">

    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){
        w[l]=w[l]||[];
        w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-N94XXFB');
    </script>
    <!—- End Google Tag Manager -->

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
          "@type": "ListItem",
          "position": 1,
          "name": "<%= __('breadcrumb1_title') %>",
          "item": "<%= __('breadcrumb1_url') %>"
        },{
          "@type": "ListItem",
          "position": 2,
          "name": "<%= __('breadcrumb2_title') %>",
          "item": "<%= __('breadcrumb2_url') %>"
        }]
      }
    </script>
  </head>

  <body class="<%= __('version') %>" data-currency="<%= __('currency') %>">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N94XXFB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!—- End Google Tag Manager -->
    <div id="wrapper" class="wrapper">
        
        <!-- HEADER -->
        <header id="header">
          <div class="wrap">
            <h1 class="logo">
              <a href="<%= __('gillette_url') %>" class="ir event_menu_button" data-action-detail="hr_header:logo">Gillette</a>
              <span><%= __('h1') %></span>
            </h1>

            <div class="menu">
              <nav>
                <ul>
                  <li><a href="#experience" class="anchor active event_menu_button" data-action-detail="hr_header:Experience"><%= __('experience') %></a></li>
                  <li><a href="#design" class="anchor event_menu_button" data-action-detail="hr_header:Design"><%= __('design') %></a></li>
                  <li><a href="#technology" class="anchor event_menu_button" data-action-detail="hr_header:Technologie"><%= __('technologie') %></a></li>
                </ul>
              </nav>
            </div>
            <a href="#shop" class="btn btn--shop anchor event_button_click" data-action-detail="hr_buy_now"><%= __('acheter') %></a>
            <button type="button" class="btn-burger ir">Menu</button>

          </div>
          
        </header>
        
        <!-- MAIN -->
        <main id="main" role="main">
            
          <!-- INTRO -->
          <section id="experience" class="section__intro">

            <div class="sequence">
              <canvas width="100%" height="100%"></canvas>
            </div> 

            <div class="sequence-caption warmingbar"><%= __('Barre chauffante') %></div>
            <div class="sequence-caption fiveblades"><%= __('Cinq lames') %></div>
            <div class="sequence-caption flexdisc"><%= __('Technologie Flexdisc') %></div>
            <div class="sequence-caption waterproof"><%= __('Waterproof') %></div>
            <div class="sequence-caption temp"><%= __('Température réglable') %></div>
            <div class="sequence-caption wireless"><%= __('Chargement sans fil') %></div>
            <div class="sequence-caption magnetic"><%= __('Support magnétique') %></div>

            <ul class="captions">
              <li><button type="button" class="warmingbar"><span><%= __('Barre chauffante') %></span></button></li>
              <li><button type="button" class="fiveblades"><span><%= __('Cinq lames') %></span></button></li>
              <li><button type="button" class="flexdisc"><span><%= __('Technologie Flexdisc') %></span></button></li>
              <li><button type="button" class="waterproof"><span><%= __('Waterproof') %></span></button></li>
              <li><button type="button" class="temp"><span><%= __('Température réglable') %></span></button></li>
              <li><button type="button" class="wireless"><span><%= __('Chargement sans fil') %></span></button></li>
              <li><button type="button" class="magnetic"><span><%= __('Support magnétique') %></span></button></li>
            </ul>

            <div class="scroll-down"><%= __('scroll_down') %></div>
          </section>

          <!-- PRODUCT VIDEO PUB -->
          <section id="product-video-pub" class="section__product-video pub" data-video="dist/videos/product-video/pub/gilette-heated-razor-<%= __('lng') %>.mp4" data-video-mobile="dist/videos/product-video/pub/gilette-heated-razor-mobile-<%= __('lng') %>.mp4">
            <button type="button" class="btn-play ir event_video_play" data-action-detail="gilette-heated-razor-mobile-<%= __('lng') %>.mp4">play video</button>
          </section>

          <!-- SENSES -->
          <section id="senses" class="section__senses" data-video="dist/videos/senses/awaken_senses.mp4">
            <video playsinline muted autoplay src="dist/videos/senses/awaken_senses.mp4"></video>
            <div class="shadow"><span class="line-1"><%= __('sens_1') %></span> <span class="line-2"><%= __('sens_2') %></span></div>
            <h2><span class="line-1"><%= __('sens_1') %></span> <span class="line-2"><%= __('sens_2') %></span></h2>
          </section>

          <!-- PRODUCT -->
          <section id="design" class="section__product height-auto">
            
            <div class="product warmth left">
              <div class="text">
                <h2><%= __('product_1_title') %></h2>
                <p><%= __('product_1_txt') %></p>
              </div>
              <div class="photo">
                <video class="item" playsinline muted autoplay loop poster="dist/img/product/grey_product.jpg" src="dist/videos/product/warmth.mp4"></video>
                <img class="item" src="dist/img/product/light_smile.jpg" alt="<%= __('product_1_alt1') %>" />
              </div>
            </div>

            <div class="product design right">
              <div class="photo">
                <img class="item" src="dist/img/product/product_34.jpg" alt="<%= __('product_2_alt1') %>" />
                <img class="item" src="dist/img/product/silhouette_2.jpg" alt="<%= __('product_2_alt2') %>" />
              </div>
              <div class="text">
                <h2><%= __('product_2_title') %></h2>
                <p><%= __('product_2_txt') %></p>
              </div>
            </div>

            <div class="product waterproof left">
              <div class="text">
                <h2><%= __('product_3_title') %></h2>
                <p><%= __('product_3_txt') %></p>
              </div>
              <div class="photo">
                <video class="item" playsinline muted autoplay loop poster="dist/img/product/waterproof.jpg" src="dist/videos/product/waterproof.mp4"></video>
                <img class="item" src="dist/img/product/waterproof_2.jpg" alt="<%= __('product_3_alt1') %>" />
              </div>
            </div>

            <div class="product comfort right">
              <div class="photo">
                <img class="item" src="dist/img/product/appreciation.jpg" alt="<%= __('product_4_alt1') %>" />
                <img class="item" src="dist/img/product/flexdisc.jpg" alt="<%= __('product_4_alt2') %>" />
              </div>
              <div class="text">
                <h2><%= __('product_4_title') %></h2>
                <p><%= __('product_4_txt') %></p>
              </div>
            </div>
            
          </section>

          <!-- PRODUCT-VIDEO DEMO -->
          <section id="product-video-demo" class="section__product-video demo" data-video="dist/videos/product-video/demo/product-beauty-<%= __('lng') %>.mp4" data-video-mobile="dist/videos/product-video/demo/product-beauty-mobile-<%= __('lng') %>.mp4" data-ratio-mobile="portrait">
            <button type="button" class="btn-play ir event_video_play" data-action-detail="product-beauty-mobile-<%= __('lng') %>.mp4">play video</button>
          </section>

          <!-- PRODUCT-WARMTH -->
          <section id="technology" class="section__product-warmth scroll">
            <div class="wrap">
              <div class="bkg off active">
                <picture>
                  <source srcset="dist/img/product-warmth/button_white-portrait.jpg" width="550" height="929" media="(orientation: portrait)">
                  <img src="dist/img/product-warmth/button_white.jpg" width="1400" height="790" alt="">
                </picture>
              </div>
              <div class="bkg on">
                <picture>
                  <source srcset="dist/img/product-warmth/button_red-portrait.jpg" width="550" height="929" media="(orientation: portrait)">
                  <img src="dist/img/product-warmth/button_red.jpg" width="1400" height="790" alt="">
                </picture>
              </div>
              <h2><span><%= __('warmth_title_1') %></span><span class="second"><%= __('warmth_title_2') %></span></h2>
            </div>
          </section>

          <!-- PRODUCT-SHAVING -->
          <section id="product-shaving" class="section__product-shaving scroll">
            <div class="wrap">
              <div class="bkg-1">
                <div class="img"></div>
                <div class="chart">
                  <div class="chart-line chart-line-h"></div>
                  <div class="chart-line chart-line-v"></div>
                  <div class="chart-line chart-line-blue"></div>
                  <div class="chart-line chart-line-red"></div>
                </div>
              </div>
              <div class="bkg-2">
                <div class="mask"></div>
              </div>
              <h2><%= __('warmth_title_3') %></h2>
            </div>
          </section>

          <!-- PRODUCT-EXPLOSION -->
          <section id="product-explosion" class="section__product-explosion">
            <div class="wrap">
              <div class="sequence">
                <canvas width="100%" height="100%"></canvas>
              </div> 
              <h2><%= __('shaving_title') %></h2>
            </div>
          </section>

          <!-- AWARDS -->
          <section id="awards" class="section__awards">
            <img class="bkg" src="dist/img/awards/bkg-razor.jpg" width="477" height="854" alt="<%= __('awards_alt') %>" />

            <div class="content">
              <ul class="reviews">
                <li class="show">
                  <span><%= __('review1_title') %></span>
                  <%= __('review1_txt') %>
                </li>
                <li>
                  <span><%= __('review2_title') %></span>
                  <%= __('review2_txt') %>
                </li>
                <li>
                  <span><%= __('review3_title') %></span>
                  <%= __('review3_txt') %>
                </li>
              </ul>
              
              <div class="bar-loader">
                <span class="bar-progress"></span>
              </div>

              <ul class="awards">
                <li class="ces">
                  <img src="dist/img/awards/ces_award.png" width="60" alt="<%= __('awards_1_alt') %>" />
                  <span><%= __('awards_1') %></span>
                </li>
                <li class="indigogo">
                  <img src="dist/img/awards/indigogo.svg" width="100" alt="<%= __('awards_2_alt') %>" />
                  <span><%= __('awards_2') %></span>
                </li>
                <li class="mh2019">
                  <img src="dist/img/awards/mh2019_groomawardbadge.svg" width="50" alt="<%= __('awards_3_alt') %>" />
                  <span><%= __('awards_3') %></span>
                </li>
                <li class="askmen">
                  <img src="dist/img/awards/askmen_grommingaward.png" width="100" alt="<%= __('awards_4_alt') %>" />
                  <span><%= __('awards_4') %></span>
                </li>
                <li class="time">
                  <img src="dist/img/awards/time2019_bestinventions.svg" width="60" alt="<%= __('awards_5_alt') %>" />
                  <span><%= __('awards_5') %></span>
                </li>
                <li class="if">
                  <img src="dist/img/awards/if_designaward2020.svg" width="50" alt="<%= __('awards_6_alt') %>" />
                  <span><%= __('awards_6') %></span>
                </li>
              </ul>
            </div>
          </section>

          <!-- SHOP -->
          <section id="shop" class="section__shop" style="height:auto">
            <iframe scrolling="no" src="https://www.gillette.fr/test-fcinq" width="100%" height="800"></iframe>
          </section>

        </main>

        <!-- FOOTER -->
        <footer id="footer">
          <div class="wrap-icons">
            <div class="logo"><a href="<%= __('gillettelabs_url') %>" class="<%= __('lng') %> ir event_button_click" data-action-detail="<%= __('Gillette Labs') %>"><%= __('Gillette Labs') %></a></div>
            <ul>
              <li class="delivery"><span><%= __('footer_picto_1') %></span></li>
              <!--<li class="satisfait"><a href="<%= __('footer_picto_5_url') %>"><%= __('footer_picto_5') %></a></li>-->
              <li class="warranty"><a href="<%= __('footer_picto_2_url') %>" class="event_button_click" data-action-detail="<%= __('footer_picto_2') %>"><%= __('footer_picto_2') %></a></li>
              <li class="customer"><a href="<%= __('footer_picto_3_url') %>" class="event_button_click" data-action-detail="<%= __('footer_picto_3') %>"><%= __('footer_picto_3') %></a></li>
              <li class="faq"><a href="<%= __('footer_picto_4_url') %>" class="event_button_click" data-action-detail="<%= __('footer_picto_4') %>"><%= __('footer_picto_4') %></a></li>
              <li class="social">
                <a href="<%= __('gillette_instagram') %>" class="instagram ir event_socialmedia_exit" data-action-detail="<%= __('gillette_instagram') %>">Instagram</a>
                <a href="<%= __('gillette_facebook') %>" class="facebook ir event_socialmedia_exit" data-action-detail="<%= __('gillette_facebook') %>">Facebook</a>
              </li>
            </ul>
          </div>

          <div class="wrap-content">
            <p><%= __('footer_seo_intro') %></p>
            
            <div class="content-cols">
              <div class="col">
                <h2 class="warmingbar"><%= __('footer_seo_title_1') %></h2>
                <p><%= __('footer_seo_text_1') %></p>
              
                <h2 class="temp"><%= __('footer_seo_title_2') %></h2>
                <p><%= __('footer_seo_text_2') %></p>

                <h2 class="fiveblades"><%= __('footer_seo_title_3') %></h2>
                <p><%= __('footer_seo_text_3') %></p>
              </div>

              <div class="col">
                <h2 class="flexdisc"><%= __('footer_seo_title_4') %></h2>
                <p><%= __('footer_seo_text_4') %></p>
              
                <h2 class="waterproof"><%= __('footer_seo_title_5') %></h2>
                <p><%= __('footer_seo_text_5') %></p>

                <h2 class="wireless"><%= __('footer_seo_title_6') %></h2>
                <p><%= __('footer_seo_text_6') %></p>

                <h2 class="magnetic"><%= __('footer_seo_title_7') %></h2>
                <p><%= __('footer_seo_text_7') %></p>
              </div>
            </div>

            <div id="tri">
              <span class="tri"></span>
              <p><%= __('footer_tri') %></p>
            </div>

            <nav>
              <ul>
                <li><a href="<%= __('footer_contact_url') %>" class="event_internal_link" data-action-detail="<%= __('footer_contact_url') %>"><%= __('footer_contact') %></a></li>
                <li><a href="<%= __('footer_legals_url') %>" class="event_internal_link" data-action-detail="<%= __('footer_legals_url') %>"><%= __('footer_legals') %></a></li>
                <li><a href="<%= __('footer_cookies_url') %>" class="event_outbound_link" data-action-detail="<%= __('footer_cookies_url') %>"><%= __('footer_cookies') %></a></li>
                <li><a href="<%= __('footer_conditions_url') %>" class="event_internal_link" data-action-detail="<%= __('footer_conditions_url') %>"><%= __('footer_conditions') %></a></li>
                <li><a href="<%= __('footer_notif_url') %>" class="event_outbound_link" data-action-detail="<%= __('footer_notif_url') %>"><%= __('footer_notif') %></a></li>
              </ul>
            </nav>
          </div>

        </footer>
        
    </div> 
    <script type="text/javascript" src="/themes/templatebox/js/gtm-standalone.js"></script> 
    <script type="text/javascript" src="dist/bundles/set-iframe-height-parent-min.js"></script> 
  </body>
</html>
