footer {
  position: relative;
  left: 0;
  z-index: 0;
  top:0;
  width: 100%;
  padding-bottom: 80px;
  overflow: hidden;
  background: #000 url(#{$img}footer/bkg.jpg) left top no-repeat;
  background-size: 100% 150px;

  div.wrap-icons {
    position: relative;
    max-width: $max-width;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .logo {
      margin-right: 6vw;

      a {
        display: block;
        width: 140px;
        height: 47px;
    
        &.fr {
          background: url(#{$img}footer/gillette_labs-fr.svg) 0 0 no-repeat;
          background-size: 100% auto;
        }
    
        &.en {
          background: url(#{$img}footer/gillette_labs-en.svg) 0 0 no-repeat;
          background-size: 100% auto;
        }
    
        &.de {
          background: url(#{$img}footer/gillette_labs-en.svg) 0 0 no-repeat;
          background-size: 100% auto;
        }
      }
    }
  
    ul {
      display: flex;
      justify-content: space-between;
      flex:2;
      li {
        display: block;
        width: 120px;
        font: normal 1.1rem $fontRegular2;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        font-weight: $weightMedium;

        a, span {
          color: #fff;
          display: block;
          padding-top: 50px;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
  
        &.delivery {
          background: url(#{$img}footer/delivery.svg) center 0 no-repeat;
          background-size: 35px auto;
        }

        &.satisfait {
          background: url(#{$img}footer/satisfait.svg) center 0 no-repeat;
          background-size: auto 35px;
          width: 160px;
        }
  
        &.warranty {
          background: url(#{$img}footer/warranty.svg) center 0 no-repeat;
          background-size: 35px auto;
        }
  
        &.guarantee {
          background: url(#{$img}footer/guarantee.svg) center 0 no-repeat;
          background-size: 35px auto;
        }
  
        &.customer {
          background: url(#{$img}footer/customer.svg) center 0 no-repeat;
          background-size: 35px auto;
        }
  
        &.faq {
          background: url(#{$img}footer/faq.svg) center 0 no-repeat;
          background-size: 35px auto;
        }
  
        /*&.social {
          padding-top: 0;
          width:20px;
  
          a {
            display: block;
            padding: 0;
            width:20px;
            height:20px;

            &.facebook {
              margin-top: 20px;
              background: url(#{$img}footer/facebook.svg) 0 0 no-repeat;
              background-size: 100% auto;
            }

            &.instagram {
              background: url(#{$img}footer/instagram.svg) 0 0 no-repeat;
              background-size: 100% auto;
            }
          }
        }*/

        &.social {
          padding-top: 0;
          position: relative;
          width: 100px;
  
          a {
            display: inline-block;
            margin: 20px 10px;
            padding: 0;
            width: 25px;
            height: 25px;

            &.facebook {
              background: url(#{$img}footer/facebook.svg) 0 0 no-repeat;
              background-size: 100% auto;
            }

            &.instagram {
              background: url(#{$img}footer/instagram.svg) 0 0 no-repeat;
              background-size: 100% auto;
            }
          }

          &:after {
            background: #fff;
            content: "";
            display: block;
            height: 50px;
            position: absolute;
            left: 52%;
            top: 7px;
            width: 2px;
          }
        }

      }
    }
  }

  div.wrap-content {
    position: relative;
    padding:70px 0;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background: #000;
    text-align: left;

    h2 {
      position: relative;
      margin: 35px 0 10px;
      font:  normal 1.4rem/1.6 $fontRegular;
      letter-spacing: 0.05em;
      color:$orange;
      text-transform: uppercase;
      width: 100%;
      text-align: center;

      &:before {
        content:"";
        position: relative;
        display: block;
        width:60px;
        height:60px;
        margin: 0 auto 10px;
      }

      &.waterproof {
        &:before {
          background: url(#{$img}icons/waterproof-orange.svg) 0 0 no-repeat;
          background-size: 100% auto;
        }
      }

      &.magnetic {
        &:before {
          background: url(#{$img}icons/magnetic-orange.svg) 0 0 no-repeat;
          background-size: 100% auto;
        }
      }

      &.flexdisc {
        &:before {
          background: url(#{$img}icons/flexdisc-orange.svg) 0 0 no-repeat;
          background-size: 100% auto;
        }
      }

      &.warmingbar {
        &:before {
          background: url(#{$img}icons/warmingbar-orange.svg) 0 0 no-repeat;
          background-size: 100% auto;
        }
      }

      &.wireless {
        &:before {
          background: url(#{$img}icons/wireless-orange.svg) 0 0 no-repeat;
          background-size: 100% auto;
        }
      }

      &.temp {
        &:before {
          background: url(#{$img}icons/temp-orange.svg) 0 0 no-repeat;
          background-size: 100% auto;
        }
      }

      &.fiveblades {
        &:before {
          background: url(#{$img}icons/5blades-orange.svg) 0 0 no-repeat;
          background-size: 100% auto;
        }
      }
    }

    p {
      font:  normal 1.4rem/1.6 $fontRegular;
      color: #fff;

      a {
        color: #fff;
      }
    }

    div.content-cols {
      margin-top: 30px;
      display: flex;
      div.col {
        width: 50%;

        &:first-child {
          padding-right: 40px;
        }

        &:last-child {
          padding-left: 40px;
        }
      }
    }

    #tri {
      margin: 100px auto;
      max-width: 460px;
      overflow: hidden;
      position: relative;

      span.tri {
        position: relative;
        display: block;
        width:80px;
        height:80px;
        background: url(#{$img}footer/triman.svg) 0 0 no-repeat;
        background-size: 100% auto;
        float: left;
      }
      
      p {
        position: absolute;
        left: 110px;
        top: 50%;
        transform: translateY(-52%);
      }
    }

    nav {
      margin-top: 100px;
      display: block;
      width: 100%;
  
      ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
          display: block;
          margin: 10px 5px;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          a {
            display: block;
            font: normal 1.1rem $fontRegular;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: .1em;
            text-decoration: none;
            transition: color 150ms linear;
  
            &:hover {
              color: $orange;
            }
          }
        }
      }
    }
  }
}

.fr-ch, .de-ch {
  footer div.wrap-content #tri {
    display: none;
  }
}

/* ---------------------------------------------- */
/* ------------------ mediasqueries ------------- */
/* ---------------------------------------------- */
@media screen and (max-width:$screen-xl) {

  footer {
    div.wrap-icons {
      margin: 0 7%;
      width: 86%;

      .logo {
        margin-right: 5vw;
      }
    }

    div.wrap-content {
      padding:70px 0;
      margin: 0 auto;
      width: 86%;
    }
  }
}

@media screen and (max-width:$screen-m) {

  footer {
    div.wrap-icons {
      .logo {
        margin-right: 4vw;
      }

      ul {
        li {
          width: 90px;
        }
      }
    }
  }
}

@media screen and (max-width:$screen-s) {

  footer {
    div.wrap-icons {
      .logo {
        margin-right: 20px;
      }

      ul {
        li {
          width: 80px;
        }
      }
    }

    div.wrap-content {
      padding:40px 0;

      div.content-cols {
        margin-top: 15px;
        flex-wrap: wrap;
        div.col {
          width: 100%;

          &:first-child {
            padding-right: 0;
          }
  
          &:last-child {
            padding-left: 0;
          }
        }
      }

      nav {
        ul {
          justify-content: center;
          li {
            margin: 15px 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:$screen-xs) {

  footer {
    background-size: 100% 450px;

    div.wrap-icons {
      padding:30px 0;
      min-height: 260px;
      height: auto;
      flex-wrap: wrap;

      .logo {
        width: 100%;
        margin: 0;
        a {
          margin: 0 auto;
        }
      }

      ul {
        margin-top: 15px;
        flex-wrap: wrap;
        width: 100%;

        li, li.social {
          margin: 20px 0;
          width: 50%;

          /*&.social {
            margin-top: 30px;
            display: flex;
            width:100%;
            justify-content: center;

            a {
              &.facebook {
                margin: 0px 10px;
              }
              &.instagram {
                margin: 0px 10px;
              }
            }
          }*/
        }
      }
    }

    div.wrap-content {
      nav {
        margin-top: 50px;
      }
    }
  }
}

@media screen and (max-width:$screen-xxs) {

  footer {
    div.wrap-content {
      nav {
        ul {
          li {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}