header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 98px;
  min-width: $min-width;
  z-index:51;
  transition: background 150ms linear;

  &.black {
    background: #000;
  }

  div.wrap {
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    max-width: $max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-burger {
    position: relative;
    display:none;
    width: 42px;
    height: 26px;
    margin-top: -3px;
    margin-right: -3px;
    background: url(#{$img}btn-burger.svg) 0 0 no-repeat;
    background-size: 100%;
    cursor:pointer;

    &.close {
      background: none;
      &:before {
        content: "";
        position: absolute;
        top: 13px;
        left: 13px;
        width: 30px;
        height: 2px;
        display: block;
        background: #fff;
        transform: translate3d(0, 0, 0) rotate(45deg);
      }
    
      &:after {
        content: "";
        position: absolute;
        top: 13px;
        left: 13px;
        width: 30px;
        height: 2px;
        display: block;
        background: #fff;
        transform: translate3d(0, 0, 0) rotate(-45deg);
      }
    }
  }
  
  h1 {
    display: block;
    width: 183px;
    height: 50px;
    background: url(#{$img}gillette.svg) 0 0 no-repeat;
    background-size: 100% auto;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    span {
      display: block;
      font: normal 1.2rem $fontRegular;
      margin: -2px 0 0 -12px;
      text-transform: uppercase;

      strong {
        font-family: $fontBold;
      }
    }
  }

  div.menu {
    flex-grow: 2;
    display: flex;
    justify-content: space-between;

    nav {
      display: block;
      margin: 0 auto;
      ul {
        display: flex;
        li {
          display: block;
          margin: 0 45px;
          a {
            font:  normal 1.1rem/53px $fontRegular;
            letter-spacing: 0.1em;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: $weightMedium;
            transition: color 150ms ease-out;
            text-shadow: #462a01 0 0 10px;

            @include no_touch {
              &:hover {
                color: $orange;
                text-shadow: none;
              }
            }

            &.active {
              color: $orange;
              text-shadow: none;
            }
          }
        }
      }
    }
  }

  .btn--shop {
    display: inline-block;
    min-width: 170px;
  }
}

.fr-ch, .de-ch {
  header h1 {
    background-image: url(#{$img}gillette-club.svg);
    height: 78px;
    margin-top: 17px;

    span {
      margin-left: -5px;
    }
  }
}

/* ---------------------------------------------- */
/* ------------------ mediasqueries ------------- */
/* ---------------------------------------------- */
@media screen and (max-width:$screen-xl) {
  header {
    div.wrap {
      margin: 0 7%;
      width: 86%;
    }
    div.menu {
      nav {
        ul {
          li {
            margin: 0 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:$screen-m) {
  header {
    div.menu {
      nav {
        ul {
          li {
            margin: 0 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:$screen-s) {
  header {
    height: $header-height-mobile;
    background: #000;

    div.wrap {
      margin: 0;
      width: 100%;
      padding: 0 7%;
    }

    h1 {
      width: 125px;
      height: 36px;

      span {
        font-size: 0.9rem;
      }
    }

    .btn-burger {
      display:block;
    }

    .btn--shop {
      position: absolute;
      top: 18px;
      right: calc(7% + 80px);
      min-width: initial;
      height: 32px;
      line-height: 32px;
      padding: 0 10px;
    }

    div.menu {
      position: absolute;
      top:70px;
      left: 0;
      width: 100%;
      height: calc(100vh - 55px);

      background: #000;
      display: none;

      &.show {
        display: block;
      }

      nav {
        margin: 60px 0;
        ul {
          display: block;
          li {
            margin: 20px 0;
            a {
              font-size: 1.6rem;
              font-weight: $weightBold;

              &.active {
                color: $orange;
              }
            }
          }
        }
      }
    }
  }

  .fr-ch, .de-ch {
    header {
      height: 80px;
      
      h1 {
        height: 54px;
        margin-top: -4px;
      }

      .btn--shop {
        top: 23px;
      }
    }
  }
}

@media screen and (max-width:$screen-xs) {
  header {

    .btn--shop {
      right: calc(7% + 65px);
    }
  }
}

@media screen and (max-width:320px) {
  header {

    div.wrap {
      padding: 0 7%;
    }

    .btn--shop {
      right: calc(7% + 50px);
      font-size: 1rem;
    }
  }
}
