aside.popin-wrapper {
  position: fixed;
  top:0;
  left:0;
  z-index:61;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-overflow-scrolling: touch;

  div.bkg {
    position: fixed;
    z-index: 0;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
  }

  div.popin {
    position: relative;
    z-index: 1;
    max-width: 520px;
    width: 100%;
    background: $orange url(#{$img}popin/bkg.jpg) 0 0 no-repeat;
    background-size: cover;
    display: none;

    &.show {
      display: block;
    }
  }

  div.wrap {
    padding: 40px 60px;
  }

  .btn-close {
    top: 20px;
    right: 20px;
  }

  h2 {
    font: normal 2rem $fontRegular;
    font-weight: $weightMedium;
    color: #fff;

    /*&.nothanks {
      float: left;
      margin-bottom: 20px;
      margin-left: 25px;
    }*/

    .promo {
      background: $orange;
      color: #fff;
      display: inline-block;
      font: normal 1.4rem/3.4rem $fontBold;
      padding: 0 15px;
      text-transform: uppercase;
      width: auto;
      
      &.blackfriday {
        border: 2px solid #000;
      }

      &.special {
        background: $special;
      }
    }
  }

  p,li {
    font: normal 1.4rem/1.4 $fontRegular;
    color: #000;//#fff;
  }

  .btn {
    display: inline-block;
  }
  
  strong {
    font-family: $fontBold;
  }

  /* -------------------------
    POPIN BUY
  ------------------------- */

  div.popin-buy {

    div.block {
      position: relative;
      margin:25px 0;

      div.container {
        width: 100%;
        padding: 5px 20px;
        background: #f2f2f2;//#000;
        border-radius:5px;
        display: flex;
        max-width: 370px;
        margin: auto;
        position: relative;
      }

      div.img {
        position: relative;
        width: 130px;
        display: flex;
        align-items: center;

        img {
          width: 100%;
          height: auto;
          display: block;
          position: relative;
          z-index: 2;
        }
      }

      div.content {
        padding: 20px 0 20px 40px;
        width: calc(100% - 120px);
        text-align: left;

        ul {
          display: block;
          margin-bottom: 5px;

          li {
            display: block;
            margin: 6px 0;
            //font-size: 1.6rem;

            &:first-child {
              margin-top: 0;
            }
          }
        }

        .old {
          color: $orange;
          display: inline-block;
          font: normal 1.2rem/1.5 $fontBold;
          margin: 0 5px;
          position: relative;
          width: auto;

          &::after {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="none" viewBox="0 0 100 100"><path d="M1 0 L0 3 L99 100 L100 99" stroke="brown" stroke-width="5" /></svg>');
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
          }

          &.special {
            color: $special;
          }
        }

        .btn {
          font-size: 1.6rem;
          margin-top: 5px;
          padding-left: 15px;
          letter-spacing: 0;
          height: 40px;
          line-height: 42px;
          
          &:before {
            content:"";
            display: inline-block;
            vertical-align: middle;
            width: 16px;
            height: 16px;
            margin-right: 10px;

            margin-top: -4px;
            background: url(#{$img}popin/icon-shop.svg) 0 0 no-repeat;
            background-size: 100% auto;
          }

          &.christmas {
            background-color: $special;
          }
        }
      }

      h3 {
        position: absolute;
        top: -17px;
        left: 50%;
        margin-left: -52px;
        padding: 3px 5px;
        font: normal 1.2rem/1.5 $fontRegular;
        letter-spacing: 0.01em;
        color: #fff;
        text-transform: uppercase;
        background: $orange;
        width: 105px;
        z-index: 10;
      }
    }

    p {
      max-width: 70%;
      margin: 20px auto;
    }

    .btn--starter {
      font: normal 1.6rem $fontRegular;
      letter-spacing: 0.01em;
      color: #fff;
      text-decoration: underline;
    }

    .btn--validate {
      margin:0 auto;
    }

    /*.btn--nothanks {
      float: right;
      font-size: 1.4rem;
      margin: 5px 25px 0 0;
      padding-right: 12px;

      &:after {
        height: 8px;
        top: 6px;
        width: 8px;
      }
    }*/
  }

  /* -------------------------
    POPIN CLUB
  ------------------------- */
  div.popin-club {

    h3 {
      margin-top: 10px;
      font: normal 1.4rem $fontRegular;
      color: #fff;
    }

    div.nb-shaving {
      position: relative;
      padding-bottom: 20px;
      margin: 20px auto 25px;
      width: 100%;
      max-width: 415px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      &:after {
        content:"";
        position: absolute;
        bottom:0;
        left:50%;
        width: 40%;
        height: 1px;
        background: #fff;
        transform: translate(-50%,0);
      }

      .img-container {
         width: 50%;
      }

      img {
        display: block;
        float: right;
        height: auto;
        max-width: 145px;
        width: 100%;
      }

      ul {
        width: 50%;
        display: block;
        li {
          display: block;
          margin: 15px 0;
          .btn {
            background: $orange;
            padding: 0 20px;
            text-align: center;
            color: #fff;
            height: 35px;
            overflow: hidden;
            font: normal 1.4rem/35px $fontRegular;
            letter-spacing: initial;
            text-transform: none;

            &.active, &:hover {
              background: #000;
            }

            &.active {
              cursor: default;
            }
          }
        }
      }

      p {
        margin-top: 15px;
        width: 100%;
        display: block;
      }
    }

    div.description {
      text-align: left;
      max-width: 400px;
      margin: 0 auto;

      ul {
        display: block;
        margin-top: 7px;
        li {
          display: block;
          margin: 3px 0;
        }
      }
    }

    p.price {
      margin: 30px 0 10px;
      font: normal 1.3rem/1.5 $fontRegular;
      letter-spacing: 0.01em;
      color: #fff;
      text-transform: uppercase;

      .old {
        color: #000;
        display: inline-block;
        margin: 0 5px;
        position: relative;

        &::after {
          background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="none" viewBox="0 0 100 100"><path d="M1 0 L0 3 L99 100 L100 99" stroke="black" stroke-width="5" /></svg>');
          content: '';
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }

        &.christmas {
          color: $special;
        }
      }

      small {
        font-size: 1rem;
      }
    }

    .btn--validate {
      margin:0 auto;
      display: inline-block;
    }
  }

  .disclaimer {
    display: block;
    letter-spacing: 0.05em;
    margin-top: 10px;
    font: normal 1rem $fontRegular;
  }
}

.de-ch {
  aside.popin-wrapper {
    div.popin-buy div.block h3 {
      margin-left: -75px;
      width: 145px;
    }
  }
} 

.fr-ch, .de-ch {
  aside.popin-wrapper {
    div.popin-club div.description ul li:nth-child(2) {
      display: none;
    }
  }
}

/* ---------------------------------------------- */
/* ------------------ mediasqueries ------------- */
/* ---------------------------------------------- */

@media screen and (max-height:800px) {
  aside.popin-wrapper {
    padding: 60px 0;
    align-items: flex-start;
  }
}

@media screen and (max-height:700px) {
  aside.popin-wrapper {
    padding: 20px 0;
  }
}

@media screen and (max-width:$screen-s) and (orientation:portrait) {
  aside.popin-wrapper {
    padding-top: 0;
    padding-bottom: 0;

    div.popin {
      max-width: initial;
      min-height: 100vh;
    }

    div.wrap {
      padding: 7vh 7% 70px;
      max-width: 520px;
      margin: 0 auto;
    }

    .btn-close {
      position: fixed;
    }
  }
} 

@media screen and (max-width:$screen-xs) {
  aside.popin-wrapper {

    div.popin {
      max-width:initial;
    }
    /* -------------------------
      POPIN BUY
    ------------------------- */
    div.popin-buy {
      p {
        max-width: initial;
      }

      div.block {
        div.content {
          padding-left: 25px;
        }
      }
    }

     /* -------------------------
      POPIN CLUB
    ------------------------- */
    div.popin-club {

      div.nb-shaving {
        padding-bottom: 20px;
        margin: 20px auto;
        ul {
          li {
            margin: 12px 0;
          }
        }
      }
    }
  }
} 

@media screen and (max-width:$screen-xxs) {
  aside.popin-wrapper {

    h2.nothanks {
      margin-left: 0;
    }

    div.wrap {
      padding-top: 5vh;
    }

    /* -------------------------
      POPIN BUY
    ------------------------- */
    div.popin-buy {
      .btn--nothanks {
        margin-right: 35px;
      }
      div.block {
        div.container {
          padding: 2px 15px;
        }
        div.content {
          padding: 15px 0 15px 15px;

          width: calc(100% - 100px);
          ul {
            li {
              font-size: 1.2rem;
            }
          }
        }

        div.img {
          width: 100px;
        }
      }
    }

    /* -------------------------
      POPIN CLUB
    ------------------------- */
    div.popin-club {

      div.nb-shaving {
        ul {
          li {
            .btn {
              height: 40px;
              line-height: 40px;
              font-size: 1.4rem;
              padding: 0 15px;
            }
          }
        }

        p {
          margin-top: 15px;
        }
      }

      div.description {
        p {
          font-size: 1.2rem;
        }
        ul {
          li {
            font-size: 1.2rem;
          }
        }
      }

      p.price {
        margin-top: 25px;
      }
    }
  }
}